{% extends "header.html" %}
{% block name %}Home Page{% endblock %}
    {% block data %}
    <div class="container-fluid">
        <div class="container">
            <div class="heading">
                <h1 class="text-center py-5 text-capitalize fw-5 f-2 f-md-4">Welcome to LocaLite Shop</h1>
            </div>
            <div class="who">
                <h3 class="text-capitalize text-center">Who are you ?</h3>
            </div>
            <div class="iam mt-5">
                <div class="i">
                    <h2 class="text-center">I am a </h2>
                </div>
                <div class="button row-col-lg-6 row-col-6 gap-4 text-center">
                    <a class="btn btn-success mx-2" href="{% url 'Index' %}" role="button">CUSTOMER</a>
                    <a class="btn btn-primary  mx-2" href="{% url 'login_seller' %}" role="button">SELLER</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
