{% extends "Header.html" %}

{% block data %}
<h1 class="text-center mt-4">Welcome to Electronics Products</h1>


<div class="container row gap-3 mx-5 my-5">
   {% for item in products %}
   <div class="card" style="width: 18rem;">
    <img src="{{ item.product_photo.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h6 class="card-title">Products Name: {{item.name}}</h6>
      <h6 class="card-text">Price: {{item.price}}</h6>
      <p class="card-text">Condition: {{item.condition}}</p>
      <p class="card-text">Brand: {{item.brand}}</p>
      <p class="card-text">Battery Life: {{item.battery_life}}</p>
      <p class="card-text">Display Type: {{item.display_type}}</p>
      <p class="card-text">Processor: {{item.processor}}</p>
      <p class="card-text">Memory/RAM: {{item.memory}}</p>
      <p class="card-text">Storage: {{item.storage}}</p>
      <p class="card-text">OS: {{item.operating_system}}</p>
      <p class="card-text">Warrenty: {{item.Warrenty}}</p>
      <p class="card-text">Delivery: {{item.delivery}}</p>
      <div class="d-grid gap-2 d-md-flex justify-content-center">
        <form method="POST" action="{% url 'add_to_whishlist' user_id=user_id username=username model_name='electronics' item_id=item.id %}">
          {% csrf_token %}
          <div class="d-grid gap-2 d-md-flex justify-content-center">
            <button class="btn btn-primary" type="submit">Add to Whishlist</button>
          </div>
        </form>
        <form method="POST" action="{% url 'add_to_bag' user_id=user_id username=username model_name='electronics' item_id=item.id %}">
          {% csrf_token %}
          <div class="d-grid gap-2 d-md-flex justify-content-center">
            <button class="btn btn-primary" type="submit">Add to Bag</button>
          </div>
        </form>
      </div>
    </div>
  </div>
   {% endfor %}
</div>
{% endblock %}